dist: trusty
sudo: required

language: java
jdk: oraclejdk8

deploy:
  provider: heroku
  api_key:
    secure: QUK+yT7O562CfdqN28vGbk5OX92/kFosSctEmbYOzw0I2na9Fh8d9e5MWYVub+WyEZNloaaPH0pv2AD8NRxd5zyCnySUo3JoztG2TrY2uam5DKnsn1G/xVDANlhl5tQVO70if5PB0OSw4QZSb2DYeD69hbkLnpWo1tSjWnu+l1rznIuqlf3UZjXkAv6jlUJ10XLEWnH/A3yFDWwBUecPnfo+9SoW6VyWiGDux9wFRTMSWbeCKsJgOu28S4Y4i7wW6iyFynQgs7xw84kYK512O9X0fmTqtTHOOfymSOpgPwz/gRyAITEBN0/dTTseXvsss1u5jMHh5X3TGAwPvagLj35/WE7vsJoGrCCgPi43ABFIwNp5dy7GKkVIdJINIscRd+zWzjkfKHWGPWlw7itH8D5g3kAek5fKJvkp1IpvMHB8BOQ/5zkebzgWi3rMu/XgQ4YNyg2aN0JH8NTzKmgb3P/MWioGgKSxn8h+zcFgJGDaxSOJUdMauHJHqRZmwmCac7nHM9YCXKz/P5ZhGRozAN5wf/axIol8iZ3OnDb21JvHST3kjVEgf+kp0kEHHGndubaBx20GqcEB1vsq9QlV6w4iuNqTxAizlWtXCAaQ1iMwFyD8Slo70IDWP0zyW1/4GL9n+kbzp+1HEunle3VP0aIyXrkUMH0ivEk6pkX2r4g=
  app: hcb-kpociot
  on:
    repo: pociot/hcb-gateway
